extends secondery

block content
  //- h1 piHomeAuto
  //- br
  //- h4 Enheter i huset
  img(src = 'images/metroui/preloader-w8-cycle-black.gif', data-bind="visible: waiting")
  p Everything still uses piHomeAutoConfig, this is for testing.
  div.span6
    h3 Units
    hr
    table.striped
      thead
        tr 
          th Id
          th Name
          th Protocol
          th Model
          th House
          th Unit
          th Delete
      tbody(data-bind="foreach: units") 
        tr
          td
            p(data-bind='text: _id')
          td
            p(data-bind='text: name')
          td
            p(data-bind='text: protocol')
          td
            p(data-bind='text: model')
          td
            p(data-bind='text: house')
          td
            p(data-bind='text: unit')
          td
            button.bg-color-red(data-bind='click: $root.deleteUnit') Remove
    button.bg-color-green(data-bind='click: $root.popAddUnit') Test dialog
    div.span6
      table
        tbody
          tr
            td
              input#unit(type='text', placeholder='Id', data-bind='value: unitId')
            td
              input#unit(type='text', placeholder='Name', data-bind='value: unitName')
            td
              input#unit(type='text', placeholder='Protocol', data-bind='value: unitProtocol')
            tr
            td
              input(type='text', placeholder='Model', data-bind='value: unitModel')
            td
              input(type='text', placeholder='House', data-bind='value: unitHouse')
            td
              input(type='text', placeholder='House Unit', data-bind='value: unitUnit')
            td
              button(data-bind='click: $root.addNewUnit') Add

  div.span6
    h3 Groups
    hr
    table.striped
      thead
        tr 
          th Id
          th Name
          th Member units
      tbody(data-bind="foreach: groups") 
        tr
          td
            p(data-bind='text: _id')
          td
            p(data-bind='text: name')
          td
            p(data-bind='text: units')
          td
            button.bg-color-red(data-bind='click: $root.deleteGroup') Remove
    //button.bg-color-green(data-bind='click: $root.popAddGroup') New Group
  div.span6
      table
        tbody
          tr
            td
              input(type='text', placeholder='Id', data-bind='value: groupId')
            td
              input(type='text', placeholder='Name', data-bind='value: groupName')
            td
              input(type='text', placeholder='List of units', data-bind='value: groupUnits')
            td
              button(data-bind='click: $root.addNewGroup') Add