extends layout

block content
  //- h1 piHomeAuto
  //- br
  //- h4 Enheter i huset
  a(href="/groups")
    div.tile.icon.bg-color-blue
      div.tile-content
          img(src="/images/share.svg")
      div.brand
        span.name Grupper
  a(href="/units")
    div.tile.icon.bg-color-blue
      div.tile-content
          img(src="/images/lightbulb.svg")
      div.brand
        span.name Enheter
  a(href="/router")        
    div.tile.icon.bg-color-blue
      div.tile-content
          img(src="/images/rss_alt.svg")
      div.brand
        span.name Nätverk
