extends secondery

block content
  a(href="#/map")        
    div.tile.icon.bg-color-blue
      div.tile-content
          img(src="/images/home.svg")
      div.brand
        span.name Karta
  a(href="#/groups")
    div.tile.icon.bg-color-blue
      div.tile-content
          img(src="/images/share.svg")
      div.brand
        span.name Grupper
  a(href="#/units")
    div.tile.icon.bg-color-blue
      div.tile-content
          img(src="/images/lightbulb.svg")
      div.brand
        span.name Enheter
  a(href="#/net")        
    div.tile.icon.bg-color-blue
      div.tile-content
          img(src="/images/rss_alt.svg")
      div.brand
        span.name Nätverksenheter
  a(href="#")        
    div.tile.icon.bg-color-blue
      div.tile-content
          img(src="/images/camera.svg")
      div.brand
        span.name Kameror
  a(href="#/sonos")        
    div.tile.icon.bg-color-blue
      div.tile-content
          img(src="/images/equalizer.svg")
      div.brand
        span.name Högtalare
  a(href="#/temps")        
    div.tile.icon.bg-color-blue
      div.tile-content
          img(src="/images/temperature.svg")
      div.brand
        span.name Temperaturer


