extends layout

block content
  h1 piHomeAuto
  br
  pre Enheter i huset
  div.span4
    table.table
      thead
        tr 
          th Plats
          th Status
      tbody(data-bind="foreach: units")
        tr
          td
            p(data-bind="text: device ")
          td 
            div.btn-group
              a(href="#", data-bind="click: $root.deviceOn, css: { 'btn-primary': currentValue === true}").btn On
              a(href="#", data-bind="click: $root.deviceOff, css: { 'btn-primary': currentValue === false }").btn Off

  
    
    