extends layout

block content
  script(type='text/javascript')
    $(document).ready(function() {
      $("#test").click(function(){
        console.log("Changing a device");
        $.post("/tellstick/list", null, function(returnedData) {
          // This callback is executed if the post was successful  
          console.log(returnedData);   
        });
      }); 
    });

  h1 piHomeAuto
  br
  pre Enheter i huset
  div.span4
    table.table
      thead
        tr 
          th Plats
          th Status
      tbody
        each unit in units
          tr
            td
              p #{unit.device}
            td 
              div.btn-group
                - if(unit.currentValue)
                  a(href="#", id="test").btn.btn-primary On
                  a(href="http://192.168.0.17:8888/api/setTellstickDevice?Device=#{unit.unitAdress}&State=Off").btn Off
                - else
                  a(href="#", id="test").btn.btn-primary On
                  a(href="http://192.168.0.17:8888/api/setTellstickDevice?Device=#{unit.unitAdress}&State=On").btn On
                  a(href="http://192.168.0.17:8888/api/setTellstickDevice?Device=#{unit.unitAdress}&State=Off").btn.btn-primary Off