doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='/javascripts/jquery-1.8.0.min.js');
    script(type='text/javascript', src='/javascripts/knockout-2.1.0.js');
    script(type='text/javascript', src='/javascripts/knockout.mapping-latest.js');
    script(type='text/javascript', src='/javascripts/view/index_view.js');
  body
    block content