extends layout

block content
  //- h1 piHomeAuto
  //- br
  //- h4 Testkarta
  div.span8
    a(href='/map_edit') Edit
    canvas#canvas1(width='1000', height='766')
  script(type='text/javascript', src='/javascripts/view/map.js');