extends layout

block content
    //- h1 piHomeAuto
  //- br
  //- h4 Enheter på nätverket
  img(src = 'images/metroui/preloader-w8-cycle-black.gif', data-bind="visible: waiting")
  div.span4
    table.striped
      thead
        tr 
          th Namn
          th Ip-adress
          th MAC-adress
          th Interface
      tbody(data-bind="foreach: units")
        tr
          td
            p(data-bind="text: name")
          td 
            p inget
          td 
            p inget
          td 
            p inget\

  script(type='text/javascript', src='/javascripts/view/sonos_view.js');            