extends layout

block content
  //- h1 piHomeAuto
  //- br
  //- h4 Enheter i huset
  img(src = 'images/metroui/preloader-w8-cycle-black.gif', data-bind="visible: waiting")
  div.span6
    table.striped
      thead
        tr 
          th Plats
          th Status
          th Dim
      tbody(data-bind="foreach: units")
        tr
          td
            p(data-bind="text: name")
          td
            div
              label.input-control.switch
                input(type="checkbox", data-bind="checked: currentValue, click: $root.deviceClicked" )
                span.helper 
          td
            button(data-bind="visible: dimmer, click: $root.deviceDim_0, css: {default: ((currentDimValue == 0) && (currentValue))}") 0%
            button(data-bind="visible: dimmer, click: $root.deviceDim_128, css: {default: ((currentDimValue == 128) && (currentValue))}") 50%
            button(data-bind="visible: dimmer, click: $root.deviceDim_255, css: {default: ((currentDimValue == 255) && (currentValue))}") 100%
                
  script(type='text/javascript', src='/javascripts/view/units_view.js');
              