extends secondery

block content
  //- h1 piHomeAuto
  //- br
  //- h4 Testkarta
  div.span8
    a(href='#/Map', onclick='editMode()') Edit
    |
    a(href='#/Map', onclick='savePos()') Save
    canvas#canvas1(width='1000', height='766')
    script(type="text/javascript", src="/javascripts/ViewModel/map.js");